---
import { pwaInfo } from "virtual:pwa-info"

export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="theme-color" content="#f6f8fa" />
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script async defer data-website-id="d52d8409-9c1d-4e3b-9405-0ad9d407b5bc" src="https://syno.lipanpanx.com:65413/umami.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
